html, body {
    max-width: 100%;
    overflow-x: hidden;
  }  


  .hero {
    background: url('https://images4.alphacoders.com/593/593823.jpg') center center/cover no-repeat;
    height: 100vh;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }

  .overlay {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    z-index: 0;
  }

  .hero-content {
    z-index: 2;
    position: relative;
  }

  .fade-in-left {
    opacity: 0;
    transform: translateX(-50px);
    transition: all 1.8s ease-out;
  }

  .fade-in-right {
    opacity: 0;
    transform: translateX(50px);
    transition: all 1.8s ease-out;
  }

  .fade-in-bottom {
    opacity: 0;
    transform: translateY(50px);
    transition: all 1.8s ease-out;
  }

  .show {
    opacity: 1;
    transform: none;
  }

  .card img {
    border-radius: 0.5rem;
    object-fit: fill;
    max-height: 300px;
    width: 100%;
  }


  header div div div div ul li a {
    transition: all 1s ease;
  }

  header div div div div ul li a:hover {
    font-size: larger;
  }

  section div div a {
    transition: all .5s !important;
  }

  section div div a:hover {
    color: #6e6f70 !important;
    font-size: larger !important;
  }

  header nav div .navbar-toggler {
    transition: all 0.5s !important;
    padding: 4px 12px;
  }

  header nav div .navbar-toggler:hover {
    background-color: #6e6f70 !important;
    padding: 5px 14px !important;
  }

  #UpButton {
    aspect-ratio: 1 / 1;
    width: 65px; 
    border-radius: 100%;
    background-color: #095089;
    color: #d1e9f7 !important;
    transition: opacity 0.6s ease;
    opacity: 0;
    pointer-events: none;
    position: fixed !important;
    z-index: 2;
    right: 1%;
    bottom: 5%;
    
  }

  #UpButton.visible {
  opacity: 0.7;
  pointer-events: auto;
}

  @media (max-width: 962px) {
    #UpButton {
      width: 10%;
    }
  }

  @media (max-width: 768px) {
    .hero h1 {
      font-size: 2rem;
    }
    .hero p {
      font-size: 1rem;
    }
    .btn {
      font-size: 1rem !important;
    }
    .services h1 {
      font-size: 1.25rem;
    }
  }

  @media (max-width: 400px) {
    #UpButton {
      width: 16%;
    }
  }